<div class="wrapper">

  <div class="grid-left" *ngIf="miningMap">
    <svg #mySvg width="100%" height="100%" viewbox="-10 -0 270 270">
      <g>
        <rect *ngFor="let mapTile of miningMap.grid;"
              [attr.width]="gridInnerSquaresSize"
              [attr.height]="gridInnerSquaresSize"
              [attr.x]="mapTile.indexX * gridInnerSquaresSize"
              [attr.y]="mapTile.indexY * gridInnerSquaresSize"
              [attr.type]="mapTile.type"/>
      </g>
      <g>
        <circle [attr.r]="gridInnerSquaresSize / 3"
                [attr.cx]="miningMap.miner.indexX * gridInnerSquaresSize + (gridInnerSquaresSize / 2.0)"
                [attr.cy]="miningMap.miner.indexY * gridInnerSquaresSize + (gridInnerSquaresSize / 2.0)"></circle>
      </g>
    </svg>
  </div>

  <div class="grid-right">
    <app-programing-interface></app-programing-interface>
  </div>
</div>
